h1{
    color: blue;
}
body{
    margin: 1px;
    background-color:lightskyblue;
}
.navbar{
    background-color: bisque;
    border-style:solid;
    border-width:1px;
    border-color:blue;
    padding:20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar a{
    padding:20px;
    text-decoration:none;
    color:darkslategray;
    font-size: 20px;

}
.navbar a:hover{
    color:lightsteelblue;
    background-color: midnightblue;
}
.card {
    text-align: center;
    border: 1px solid black;
    width: 350px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: whitesmoke;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.card img{
    width : 100%;
    background-color: royalblue;
}
.card button{
    padding: 15px;
    width:80%;
    border-style: none;
    border-radius: 8px;
    background-color: coral;
    color: white;
}
.card button:hover{
    color: bisque;
    background-color: black;
}