h1{
    color: blue;
}
body{
    margin: 1px;
}
.navbar{
    border-style:solid;
    border-width:1px;
    border-color:blue;
    padding:20px;
    text-align: center;
}
.navbar a{
    padding:20px;
    text-decoration:none;
    color:black;

}